[build]
  command = "npm run build"
  publish = "dist"
  functions = "netlify/functions"

[dev]
  command = "npm run dev"
  targetPort = 5173
  port = 8888
  framework = "vite"

# Aturan Redirect untuk Single Page App (SPA)
# Ini akan mengarahkan semua permintaan ke index.html
[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200